body {
  background-color: #282c34;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  justify-content: center;
}
h1{
  color:#33ae98;
  font-size: 2.5rem;
  margin:0;
}
h2 span{
  color:#7684a7;
  font-size: 1.2rem;
}
h2{
  color:#92dccf;
  font-size: 1rem;
  margin: 0;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  color: rgb(226, 224, 224);
}

input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  font-size: 1rem;
  border: 0;
  border-radius: 0.25rem 0 0 0 ;
  background-color: hsl(222, 20%, 95%);
  box-sizing: border-box;
}

button{
  display: block;
  padding: 0.5rem;
  border: 0;
  border-radius: 0 0.25rem 0 0;
  background-color: #367bc3;
  color: #fff;
  margin: 0;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  max-height:80vmin
}
a{
  color:#a3adc4;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer{
  background-color: #282c34;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}
.row{
  display:flex;
  flex-direction:row;
  align-items: stretch;
}
.header {
  max-height: 20vh;
  margin-bottom:1rem;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction:column;
}
.footer_aeveco{
  color:#33ae98;
}
.footer_aeveco::before{
  content:'\00A9';
  color:#7684a7;
}
@media (min-width: 768px) {
  img{
    max-height:60vmin
  }
  h2{
    margin:1rem 0 0 0.5rem;
  }
  .header {
    flex-direction:row;
  }
}