body {
  background-color: #282c34;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  justify-content: center;
}
h1 {
  color: #33ae98;
  font-size: 2.5rem;
  margin: 0;
}
h2 {
  color: #92dccf;
  font-size: 1rem;
  margin: 0;
}
h2 span {
  color: #7684a7;
  font-size: 1.2rem;
}
h3,
.h3 {
  color: #33ae98;
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 0.5rem 0;
  text-align: center;
}
header {
  max-width: 80vmin;
  margin: auto;
  max-height: 20vh;
  margin-bottom: 1rem;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: column;
}
nav {
  max-width: 80vmin;
  margin: auto;
  display: flex;
  align-items: stretch;
  gap: 1rem;
}
nav button {
  display: block;
  background-color: #49567a;
  width: 50%;
  margin-bottom: 1rem;
  white-space: nobreak;
}
nav button:hover,
nav button.current {
  background-color: #49567a;
  outline-color: #7684a7;
  outline-style: solid;
  outline-width: 0.1rem;
  outline-offset: -0.1rem;
}
nav button:focus {
  outline-color: #7684a7;
  outline-color: #7684a7;
  outline-style: solid;
  outline-width: 2px;
  outline-offset: -1px;
}

.hidden {
  display: none;
}

pre {
  color: #e78680;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-height: 80vmin;
  max-width: 80vmin;
}
a {
  color: #a3adc4;
}
a:focus {
  outline-color: #7684a7;
  outline-color: #7684a7;
  outline-style: solid;
  outline-width: 2px;
  outline-offset: -1px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 0.5rem;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 0.5rem;
}
.qrcode {
  height: 80vmin;
  width: 80vmin;
}
footer {
  background-color: #282c34;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.75rem, calc(2px + 2vmin), 1rem);
  color: white;
}
footer a {
  min-height: 2em;
  padding: 3px;
  display: block;
  margin-top: 0.5rem;
}
.footer_aeveco {
  color: #33ae98;
}
.footer_aeveco::before {
  content: "\00A9";
  color: #a3adc4;
}
.printonly {
  display: none;
}

@media (min-width: 768px) {
  img {
    max-height: 60vmin;
  }
  h2 {
    margin: 0 0 0 0.5rem;
  }
  nav,
  header {
    max-width: 60vmin;
  }
  header {
    flex-direction: row;
  }
  .row {
    flex-direction: row;
  }
  .qrcode {
    height: 60vmin;
    width: 60vmin;
  }
}

@media print {
  body {
    font-size: 12pt;
  }

  h3 {
    display: none !important;
  }
  footer {
    display: none !important;
  }
  button {
    display: none !important;
  }
  input,
  textarea {
    display: none !important;
  }
  label {
    display: none !important;
  }

  pre {
    display: none !important;
  }
  .printonly {
    display: block;
    width: 80%;
    margin:auto;
  }
}
